/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.custombanneralert {
  color: #005fab !important;
}
/*
.home header{
	    top: 65px;
} */
.topBar > .fl-row-content-wrap {
  background: rgba(0, 0, 0, 0.4) !important;
}

.topBar * {
  font-weight: 900 !important;
}

body.single.single-tile_catalog .topBar * {
  color: #fff !important;
}

.single-tile_catalog #breadcrumbs .container > span > span:nth-child(2) {
  display: none !important;
}

.single.single-tile_catalog .topBar a span.fl-button-text {
  color: #fff !important;
}

.single.single-tile_catalog .topBar a:hover span {
  color: #005fab !important;
}

legend {
  border: 0px;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #000;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.facetwp-selections ul li {
  width: 100%;
  display: block;
  margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}
.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

.uabb-blog-posts .uabb-post-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.new-posts-section .uabb-blog-posts .uabb-post-thumbnail a img {
  width: 100% !important;
}

.header-location {
  pointer-events: none !important;
}

.header-location > .fl-module-content > .fl-icon-wrap {
  pointer-events: all !important;
}
.fl-row.copyRightBar_Row p {
    margin-bottom: 0px!important;
}

.gform_wrapper .ginput_container.ginput_container_checkbox input,
.gform_wrapper .ginput_container.ginput_container_radio input {
  vertical-align: middle !important;
}

.product-plp-grid
  > .product-row
  > .col-lg-4
  > .fl-post-grid-post
  .product-grid.btn-grey
  > h4
  > span:nth-child(2) {
  display: none !important;
}

a:focus,
a:hover {
  text-decoration: none;
}
div#breadcrumbs {
  text-shadow: 0px 0px 3px #000;
}
.text-icon .fl-module-content .storename li .address::before {
  content: "\ea7d";
  font-family: "Ultimate-Icons" !important;
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto;
}
.new-posts-section .uabb-blog-posts {
  background-color: #fff;
}
.new-posts-section .uabb-blog-posts .uabb-post-thumbnail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-posts-section .uabb-blog-posts .uabb-post-thumbnail a img {
  width: auto;
  max-width: initial;
  height: 307px;
}
.new-posts-section .uabb-blog-posts .uabb-blog-post-content {
  text-align: center;
  padding: 0px 15px 10px;
}
.new-posts-section .uabb-blog-posts .uabb-blog-post-content h3 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.new-posts-section .uabb-blog-posts .uabb-blog-post-content h3 a {
  color: #747474;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: none;
  font-style: normal;
  text-transform: uppercase;
}
.new-posts-section .uabb-blog-posts .uabb-blog-post-content h3 a:hover {
  color: #747474;
}

.fl-page {
  width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
  text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p {
  display: inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
  width: 200px;
}
div.gform_wrapper .gfield_time_ampm select {
  max-width: 8rem !important;
  width: calc(5rem + 20px) !important;
  -webkit-appearance: none;
  background-image: url("https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png");
  background-position: 91%;
  background-size: 8px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
footer .storename li .phone a span:before {
  font-size: 18px !important;
  margin-right: 14px;
}
footer .storename li .phone a span {
  font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #fff;
}
footer .storename {
  padding-left: 10px !important;
}
footer .fa-phone-alt {
  display: none;
}
/* .fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
} */
.fl-module-content .fl-rich-text .message a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li {
  padding: 10px 50% 10px 10px;
  list-style: none;
}
div.text,
div.number {
  display: inline-block;
}
ul.social-icons {
  text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
footer .storename li .phone a:before {
  content: " ";
  display: none;
}
.footermenu li.menu-item a {
  font-size: 14px;
  line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before {
  font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button
  .uabb-creative-button-has-icon
  a.uabb-none-btn:hover
  i.ua-icon-arrow-down:before {
  font-size: 1em;
}

.free_estimate_button a {
  width: 202px;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  text-align: center;
  background: #005fab;
  display: block;
  height: 60px;
  border: 1px solid #005fab;
}

.free_estimate_button a:hover {
  background: #fff;
  color: #005fab !important;
  border: 1px solid #005fab;
}
.menubar {
  margin-right: -100px;
}
ul.social-icons {
  text-align: left;
}

.homebanner-module {
  text-align: left;
}

.homebanner-module h3.uabb-infobox-title {
  font-size: 55px;
  line-height: 51px;
}
.homebanner-module .uabb-infobox-text-wrap {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px !important;
  color: #fff;
}
.homebanner-module a.uabb-button {
  min-height: 60px !important;
  border-radius: 0px !important;
  color: #ffffff;
  font-family: Jost, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  background: #005fab;
  border: 1px solid #005fab;
  width: 200px;
}

.normal-slider .fl-slide-bg-photo:after {
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
body.search .row.search-row {
  padding-top: 300px;
}
.list_style_none ul {
  list-style: none;
  padding: 0;
}
.location_info ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.location_info .address a p {
  margin: 0;
  padding: 0;
  color: #747474;
}
.location_info .address a:hover p {
  color: #005fab !important;
}

.locationDirection ul.storename,
.location_info_hours ul.storename {
  padding: 0;
  list-style: none;
  margin: 0;
}

.location_info_hours .store-opening-hrs-container ul.store-opening-hrs li {
  padding: 0px;
  list-style: none;
}
.location_info_hours .uabb-infobox-text.uabb-text-editor p,
.locationDirection .uabb-infobox-text.uabb-text-editor p {
  margin: 0;
  padding: 0;
}

/* breadcrumbs open */
div#breadcrumbs {
  position: absolute;
  top: 170px;
  left: auto;
  right: auto;
  z-index: 9;
  width: 100%;
  background-color: transparent;
}
div#breadcrumbs .container {
  width: 630px;
}
div#breadcrumbs > .container span a,
div#breadcrumbs > .container span {
  color: #fff;
  font-weight: 500;
  /* text-shadow: 0px 0px 4px #000;
    filter: drop-shadow(0px 0px 0px #000); */
}

/* breadcrumbs closed*/

.gfield_captcha_input_container.math_medium input {
  width: 80px;
}

/* vendor dynamic image code */

.ourVendorsDynamic .fl-rich-text p {
  margin: 0;
  padding: 0;
}
ul.vendor_brand_image_list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
ul.vendor_brand_image_list li {
  width: 33.33%;
  margin: 20px 0;
  text-align: center;
}
.landingPage-VendorsRow ul.vendor_brand_image_list li {
  width: 20%;
}
.location_info_hours ul.storename,
.location_info_hours ul.store-opening-hrs {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* vendor dynamic image code */

/* FIND A RETAILER */

/* search open*/
div#sfnlocator-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-right: 0;
}
#wpsl-result-list {
  width: 100% !important;
}
.location-icon-main .find_wrap p.location-name,
.location-icon-main .find_wrap .bb_location_name {
  font-size: 16px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #005fab !important;
  line-height: 20px;
  margin: 0 0;
  letter-spacing: 0.6px;
}
.location-icon-main .fl-icon-text {
  padding-left: 5px;
}
.location-icon-main .find_wrap span.location-add,
.location-icon-main .find_wrap .bb_loc_address {
  font-size: 12px;
  line-height: 18px;
  color: #484848;
  letter-spacing: 0.45px;
}
.wpsl-search {
  background: transparent !important;
  padding-top: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input {
  border: 1px solid #000;
  border-radius: 3px;
  width: 100%;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input:focus {
  border: 1px solid #005fab;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input {
  float: none;
  width: 100%;
  display: block;
  margin-top: 10px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div {
  float: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label {
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 5px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap {
  width: 70%;
  display: unset;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius {
  width: 95%;
  display: block;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius
  .wpsl-dropdown {
  width: 100%;
  border: 1px solid #474747;
}
.wpsl-search
  div#wpsl-search-wrap
  form#locsearchform
  .wpsl-select-wrap
  div#wpsl-radius
  label {
  display: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
  width: 30%;
  display: unset;
  margin: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
  background: #0c141d;
  color: #fff;
  border-radius: 3px;
  display: block;
  margin: 0;
  padding: 6px 10px;
  text-transform: uppercase !important;
  letter-spacing: 0.75px;
  height: 45px;
}
div#wpsl-results {
  margin-top: 10px;
}
#wpsl-search-wrap div label {
  color: #000;
}
/* search end */

.homepage_retailer_location .wpsl-search {
  display: none;
}
#showrooms .wpsl-search {
  display: block;
}
#wpsl-gmap {
  width: 50%;
}
.homepage_locationStore #wpsl-stores,
.homepage_locationStore #wpsl-direction-details,
.homepage_locationStore #wpsl-gmap,
.homepage_locationStore #wpsl-stores,
.homepage_retailer_location #wpsl-stores,
.homepage_retailer_location #wpsl-gmap {
  height: 600px !important;
}
#showrooms #wpsl-gmap {
  height: 760px !important;
}
#wpsl-wrap {
  margin: 0;
}
#wpsl-wrap #wpsl-result-list li {
  padding: 20px;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
  color: #000;
}
div#wpsl-stores .wpsl-store-location .your_store {
  font-size: 14px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #000;
}
div#wpsl-stores .wpsl-store-location h3 {
  margin: 0;
  width: 70%;
}
div#wpsl-stores li.mystore_location .wpsl-store-location h3 a {
  color: #005fab;
}
div#wpsl-stores .wpsl-store-location h3 a {
  font-size: 16px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 18px;
  display: block;
}

div#wpsl-stores .wpsl-store-location span {
  color: #000;
  font-size: 14px;
  line-height: 18px;
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
  line-height: 18px;
  margin-bottom: -5px;
}
div#wpsl-stores .wpsl-store-location span.distance_unit {
  letter-spacing: 0.75px;
  font-size: 14px;
  line-height: 17px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  float: right;
  margin: -18px 0 0 !important;
}

div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
  display: flex;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span {
  margin-right: 10px;
  color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a {
  color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details a.site_loc_url {
  color: #005fab;
}
div#wpsl-stores li.mystore_location .wpsl-store-location .Coupon-wrapper {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
li.mystore_location {
  background: #f5f5f5;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
  display: flex;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
  padding: 10px;
  font-size: 16px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  background: #005fab;
  outline: none;
  border: 1px solid #005fab;
  margin: 0 10px 10px 0;
  border-radius: 4px;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button:hover {
  background: #fff !important;
  color: #005fab !important;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button {
  background: #fff !important;
  color: #005fab !important;
}
div#wpsl-stores
  .wpsl-store-location
  .Coupon-wrapper
  a.makemystore.fl-button:hover {
  background: #005fab !important;
  color: #fff !important;
}
div#wpsl-stores
  .wpsl-store-location
  .Coupon-wrapper
  .visit_store.redbutton
  a.fl-button {
  background: #fff !important;
  color: #005fab !important;
}
div#wpsl-stores
  .wpsl-store-location
  .Coupon-wrapper
  .visit_store.redbutton
  a.fl-button:hover {
  background: #005fab !important;
  color: #fff !important;
}

div#wpsl-stores .wpsl-store-location {
  position: relative;
}
.location_title_wrapper h3 a {
  font-size: 14px;
  outline: none;
}
.store_map_wrap #wpsl-gmap .wpsl-info-window,
.store_map_wrap .wpsl-gmap-canvas .wpsl-info-window {
  max-width: 350px;
}
.wpsl-info-window.custominfo_wrapper .store_thumb {
  float: left;
  width: 40%;
}
.wpsl-info-window.custominfo_wrapper .info_wrapper {
  float: right;
  width: 60%;
}

#wpsl-gmap img,
.wpsl-gmap-canvas img {
  width: 80%;
}
.wpsl-info-window .info_wrapper .location_title_wrapper {
  padding-top: 10px;
}
.wpsl-info-window .info_wrapper .location_title_wrapper h3 {
  margin: 0;
}
.wpsl-info-window .info_wrapper .infomap_div {
  display: flex;
}
.wpsl-info-window .info_wrapper .infomap_div p {
  margin: 0;
}

.wpsl-info-window .info_wrapper .location_title_wrapper h3,
.wpsl-info-window .info_wrapper .location_title_wrapper h3 a {
  font-size: 12px;
  line-height: 14px;
  color: #005fab;
  font-family: Jost, sans-serif;
  font-weight: 400;
  display: block;
  margin: 0 0 5px;
}
.wpsl-info-window i.ua-icon.ua-icon-location-pin {
  color: #005fab;
  font-size: 24px;
}
.wpsl-info-window span,
.wpsl-more-info-listings span {
  font-size: 9px;
  line-height: 15px;
}
.wpsl-info-window span.store_msg {
  margin-top: 10px;
}
#wpsl-wrap .wpsl-info-window p {
  font-size: 10px;
}
#wpsl-gmap .gm-style-iw.gm-style-iw-c .wpsl-info-window {
  max-width: 350px !important;
}
button.gm-ui-hover-effect {
  top: 0px !important;
  right: 0px !important;
}

#home_page_storelocator .wpsl-search.wpsl-clearfix {
  display: none;
}
.custominfo_wrapper a.wpsl-directions {
  display: none;
}
span.wpsl-country {
  display: none;
}
.product-color-variationPlp.plp_slide_wrap {
  /* display: none; */
}
.checked {
  color: orange;
}
#wpsl-base-gmap_0 {
  height: 708px !important;
  width: 100%;
}
.find-a-retailer-row div#wpsl-gmap {
  height: 660px !important;
}
.find-a-retailer-row #wpsl-stores {
  height: 460px !important;
}

/* FIND A RETAILER  */

/* Store location - Find a retailer page open  */
.header-banner-image-bg {
  position: relative;
  margin-bottom: 30px;
}
.header-banner-image-bg .header-banner-image::after {
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.header-banner-image {
  background: url(/wp-content/uploads/2025/01/shopping_1600x500.webp)
    no-repeat 0 0;
  padding: 180px 0;
  background-size: cover;
}
.header-sale-image {
  margin-bottom: 0;
}
.storelocation .container {
  	max-width: 1300px;
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.cta-wrapperMain {
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: rgba(66, 66, 66, 0.23);
  border-bottom-width: 1px;
  padding: 40px 0;
  margin-bottom: 60px;
}
.zipcode-wrapper {
  display: flex;
  align-items: center;
}
.zipcode-wrapper span.fl-icon {
  margin-right: 10px;
  font-size: 30px;
}
.zipcode-wrapper a.usercurent {
  margin-left: 10px;
}
.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-wrapper .cta-buttons .fl-button-group-buttons {
  display: flex;
}
.cta-wrapper .cta-buttons .fl-button-group-buttons a.fl-button {
  text-decoration: none;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: none;
  margin-left: 10px;
}
img.locationIMG {
  max-width: 200px;
  display: block;
}
span.city {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  display: block;
  margin: 0;
  color: #484848;
  margin-top: 20px;
}

span.nfa-address {
  font-family: Jost, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #7f7070;
  margin-bottom: 20px;
  display: block;
}

.storeloc-content .entry-title.sfnstoretitle {
  line-height: 20px;
  margin: 10px 0 0;
  font-family: Jost, sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.storeloc-content span.autorized {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  display: block;
  margin: 0;
  color: #484848;
}
.storeloc-content span.siteUrl a {
  color: #005fab;
  font-size: 14px;
  line-height: 20px;
  display: block;
  letter-spacing: 0.53px;
  margin: 20px 0;
}
.storeloc-content .store_reviews {
  margin: 20px 0;
}
.storeloc-content span.phNo {
  font-size: 12px;
  line-height: 18px;
  display: block;
  color: #0c141d;
  font-weight: 600;
  margin: 0;
}
.store_phone {
  margin-top: 20px;
}
.storeloc-content span.phNoDis a {
  font-size: 16px;
  line-height: 20px;
  color: #005fab;
  letter-spacing: 0.65px;
  font-weight: 600;
  margin: 10px 0;
  display: block;
}
.storeloc-content span.phNoDis a:hover {
  color: #7f7070 !important;
}
.storeloc-content .storehours span {
  font-family: Jost, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: #7f7070;
  text-transform: uppercase;
}
.storeloc-content table.wpsl-opening-hours th,
.storeloc-content table.wpsl-opening-hours td {
  font-family: Jost, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #7f7070;
  text-transform: uppercase;
}
.storeloc-content table.wpsl-opening-hours td.today_hour {
  color: #7f7070 !important;
  font-weight: 600 !important;
  font-style: italic;
}
.storeloc-content table.wpsl-opening-hours td.today_hour span,
.storeloc-content table.wpsl-opening-hours td.today_hour time {
  display: inline-block;
  margin-right: 10px;
}
.storeloc-content .store_links_main {
  padding: 20px 0 40px;
  display: none;
}
.storeloc-content .store_links_main span.getLable {
  font-size: 12px;
  line-height: 18px;
  display: block;
  color: #0c141d;
  font-weight: 600;
  margin: 0;
}
.storeloc-content .store_links_main ul {
  list-style: none;
  margin: 0;
  padding: 20px 0 0;
  display: flex;
  align-items: center;
}
.storeloc-content .store_links_main ul li a {
  font-size: 14px;
  line-height: 20px;
  color: #005fab;
  letter-spacing: 0.45px;
  text-decoration: underline;
  margin-right: 20px;
  text-transform: uppercase;
  font-family: Jost, sans-serif;
}
.storeloc-content .store_links_main ul li a:hover {
  color: #020050;
}
.storeloc-content .store_links_main ul li:last-child a {
  margin-right: 0;
}
.storeloc-content .store_links_main ul li a.button {
  background: none;
  padding: 0;
  outline: none;
  border: 0;
  color: #005fab;
}
.storeloc-content .store_links_main ul li a.button:hover {
  color: #000;
}
.storeloc-map .mapcon_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px;
}
.storeloc-map .mapcon_main .mapcon_left_flex {
  display: flex;
  align-items: center;
}
.storeloc-map .mapcon_main .mapcon_left_flex i.ua-icon.ua-icon-location-pin {
  color: #005fab;
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px;
}
.storeloc-map .mapcon_main h2.entry-title.sfnstoretitle {
  font-family: Jost, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #005fab;
  margin: 0;
}
.storeloc-map .mapcon_main span.add {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
}
.storeloc-content a.fl-button {
  width: 150px;
}
.storeloc-map .mapcon_main .mapcon_right a,
.storeloc-content a.fl-button {
  padding: 10px;
  font-size: 16px;
  font-family: Jost, sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  border: 0;
  background: #005fab;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  padding: 10px 25px;
  display: block;
  text-decoration: none !important;
  text-align: center;
  border-radius: 0;
}
.storeloc-map .mapcon_main .mapcon_right a:hover {
  background: #000;
  text-decoration: none;
}

.bottomsection {
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.bottomsection h2 {
  color: #000;
  font-size: 45px;
  font-family: Jost, sans-serif;
  letter-spacing: 0;
  line-height: 75px;
  margin-bottom: 25px;
}
.bottomsection p {
  color: #000000;
  font-family: Jost, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: left;
}

/* Store location - Find a retailer page end */

/* Flyer location open Css*/
div#ajaxstorelisting::-webkit-scrollbar {
  width: 0.7em !important;
}
div#ajaxstorelisting::-webkit-scrollbar-thumb {
  background-color: #005fab !important;
}
div#ajaxstorelisting::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}

div#ajaxstorelisting {
  background: #fff;
  padding: 20px !important;
  position: absolute;
  top: 63px;
  left: 0;
  right: 20px;
  overflow-y: scroll;
  max-height: 360px;
  display: none;
  z-index: 99;
}
.header-location .location_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location_div .bb_location_name {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  width: 100%;
  display: block;
  max-width: 375px;
  text-transform: uppercase;
}

.location_div .bb_loc_address {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.45px;
  line-height: 18px;
}
.location-section {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.location-section .makemystore_header {
  margin-right: 10px;
  margin-top: 3px;
  position: relative;
}
.location-section .makemystore_header input {
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 5.5px;
}

.activebb.location-section .makemystore_header input + label:before {
  background-color: #005fab !important;
}
.location-section .makemystore_header input + label:before {
  content: "";
  border: 1px solid #979797;
  background-color: #f5f5f5;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 10px;
}
.location-section .location-info-section a.location-name {
  font-size: 14px;
  color: #000 !important;
  font-weight: 500;
}
.location-section .location-info-section p.store-add {
  font-size: 11px;
  line-height: 15px;
  color: #ababab !important;
  font-weight: 600;
}
.location-section .location-info-section p.store-phone a.phone_bb {
  color: #005fab !important;
  font-size: 12px;
  letter-spacing: 0.45px;
  line-height: 18px;
}
.location-section .location-info-section p.store-phone a.phone_bb:before,
.storeloc-content span.phNoDis a:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.storeloc-content span.phNoDis a:before {
  font-size: 16px !important;
}
.header-location {
  position: relative;
  cursor: pointer;
  min-height: 101px;
  padding-top: 11px;
}

i.ua-icon.ua-icon-map-pin,
i.ua-icon.ua-icon-map-pin * {
  color: #fff !important;
}
.header-location .changeThelocation {
  display: block;
  text-align: right;
}
.header-location .changeThelocation a {
  border-bottom: 1px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
/* Flyer location css */

.gform_wrapper.gravity-theme .hour_minute_colon {
  line-height: 3.5 !important;
}

body.blog .fl-archive.container > .row {
  padding-top: 250px;
}

.container .row .product-detail-layout-6 {
  padding-top: 360px !important;
}

.post-template-default div#fl-main-content {
  padding-top: 250px;
}
ul.social-icons a:hover {
  color: #005fab !important;
}
.fl-slide .fl-slide-cta-button a.fl-button {
  background: #005fab !important;
  border: 1px solid #005fab !important;
  color: #fff !important;
}
.fl-slide .fl-slide-cta-button a.fl-button:hover {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #005fab !important;
}
.privacypolicy ul.storename {
  margin: 0;
  padding: 0;
  list-style: none;
}

.privacycontent {
  display: flex;
  align-items: center;
}
.privacycontent span {
  margin: 0;
  padding: 0;
}

body.search .topBar,
body.search.search-results .topBar,
.page.page-id-1111378 .topBar,
.page.page-id-1127984 .topBar,
body.post-template-default.single header .topBar,
.error404 header .topBar {
  background: #005fab;
}
.gform_wrapper.gravity-theme .dateEstimate .gfield_label {
  margin-bottom: 0;
}
.fc_location_phone a {
  color: #fff !important;
  font-size: 12px;
  display: block;
}
.storename li .address a {
  color: #747474;
  position: relative;
  padding-left: 18px;
  display: block;
}
.storename li .address:hover a {
  color: #005fab;
}
.storename li .address a::before {
  font-size: 20px !important;
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 6px;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #fff!important;
  color: #333!important;
  border-radius: 0px!important;
  font-family: Jost,sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #f4f4f4!important;
  color: #005fab!important;
  text-transform: uppercase!important;
  border-color: #54575a!important;
}
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #005fab;
  border-top: 1px solid #fff;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #fff!important;
  opacity: 0.7;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #808285!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #005fab!important;
  border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #808285!important;
  background-color: #fff!important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #808285 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #005fab!important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: Jost,sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #f4f4f4!important;
  color: #005fab!important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #005fab!important;
}

.uabb-gf-style .ginput_container_select:after{
	top:46%;
}

@media (min-width: 2000px) {
  .both-fifty-percent-on-large .fl-col-group .fl-col {
      width: 50% !important;
  }
  .both-fifty-percent-on-large .text-to-left {
      justify-content: flex-start;
  }
  .both-fifty-percent-on-large .text-to-right {
      justify-content: flex-end;
  }
  .text-to-left .fl-col-content, .text-to-right .fl-col-content {
      max-width: 650px;
  }
}
/* Scheduler - Gravity form css open here...  */

/* Scheduler - Gravity form css end here...  */

@media (min-width: 992px) {
    .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
        top: 18px !important;
    }
}

@media (max-width: 1367px) {
  div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
    font-size: 12px;
  }
  /*     .topbarCol1 {
        width: 70%;
    }
    .topbarCol2 {
        width: 30%;
    } */
}

@media (min-width: 769px) and (max-width: 1024px) {
  header .uabb-photo-content img {
    max-width: 207px !important;
  }
  .header-banner-image {
    padding: 200px 0 !important;
  }
  .find-a-retailer-row div#wpsl-gmap,
  .homepage_locationStore #wpsl-gmap {
    width: 50%;
  }
  .facetwp-facet.facetwp-facet-search.facetwp-type-search
    span.facetwp-input-wrap
    input.facetwp-search {
    font-size: 12px;
  }
  div#breadcrumbs {
    top: 310px;
    z-index: 999;
    padding: 8px 0;
  }
  div#breadcrumbs .container {
    width: 100%;
  }
  .CTA-Row .uabb-infobox-text-wrap,
  .CTA-Row .uabb-infobox-title-wrap {
    padding: 0 10px;
  }
  .CTA-Row .uabb-infobox-title-wrap h3 {
    font-size: 20px;
  }
  .CTA-Row .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor {
    font-size: 12px;
  }
  body.post-template-default.single div#fl-main-content {
    padding-top: 400px;
  }
}
@media (min-width: 1024px) {
  .menubar:before {
    display: block !important;
    content: "" !important;
    height: 100%;
    width: 90px;
    background-color: #fff !important;
    position: absolute;
    left: -140px;
  }
  .mobile-show {
    display: none !important;
  }
  .menubar {
    position: relative;
  }
  .page-id-1127984 div#breadcrumbs > .container span a,
  .page-id-1127984 div#breadcrumbs > .container span,
  .page.page-id-1111378 div#breadcrumbs > .container span a,
  .page-id-1111378 div#breadcrumbs > .container span,
  body.post-template-default.single.single-post
    div#breadcrumbs
    > .container
    span
    a,
  body.post-template-default.single.single-post
    div#breadcrumbs
    > .container
    span {
    color: #000000;
  }
  .page-id-1127984 div#breadcrumbs > .container span a:hover,
  .page.page-id-1111378 div#breadcrumbs > .container span a:hover,
  body.post-template-default.single.single-post
    div#breadcrumbs
    > .container
    span
    a:hover {
    color: #005fab;
    text-shadow: none;
  }
  div#breadcrumbs > .container span a:hover {
    text-shadow: 0px 0px 4px #000;
    filter: drop-shadow(0px 0px 0px #000);
  }
  body.search-results div#breadcrumbs > .container span a:hover {
    text-shadow: 0 !important;
  }
}
@media (max-width: 1024px) {
  .locationCol .fl-col-content {
    padding: 0px 20px !important;
  }
  .container .row .product-detail-layout-6 {
    padding-top: 430px !important;
  }
  .single div#breadcrumbs .container {
    width: 100% !important;
  }
  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  #responsive-menu-container div#responsive-menu-additional-content,
  #responsive-menu-container div#responsive-menu-search-box {
    padding: 5px 5%;
  }
  #responsive-menu-additional-content .storename li .phone a:before {
    margin-right: 5px !important;
  }
  .menubar {
    display: none;
  }
  .logoCol .fl-col-content.fl-node-content {
    margin: 0;
  }
  .topbarCol1,
  .topbarCol2 {
    width: 50% !important;
  }
  .fl-module.fl-module-rich-text.fl-node-7wh8ke0xtisd.wholesale
    .fl-rich-text
    p {
    margin: 0;
  }
  a.rmp-menu-item-link {
    text-transform: uppercase;
  }
  .uabb-close-custom-top-right {
    top: 110px;
    right: 30px;
  }
  .fl-sidebar {
    display: block;
  }
  .fl-col.topbarCol1 {
    display: none !important;
  }
  /* .home header {
		top: 100px;
	} */
  button#rmp_menu_trigger-1428008 {
    top: 175px;
    right: 20px;
  }
}

@media (max-width: 992px) {
  button#rmp_menu_trigger-1428008 {
    top: 150px;
  }
  body.search .row.search-row {
    padding-top: 0 !important;
  }

  header.fl-archive-header {
    background: transparent;
  }

  .header-banner-image {
    display: none !important;
  }

  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-row-content-wrap {
    /* text-align: center; */
  }
  .fl-fade-in.fl-animated p,
  .uabb-gf-style .gform_wrapper .gform_footer {
    text-align: center !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80%;
  }
  .footer-menu .fl-col-small {
    width: 25% !important;
    float: left;
    clear: none;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-sec-row .fl-col-small {
    width: 100%;
    text-align: center;
  }
  .copyright-sec-row
    .fl-col-small:first-child
    .fl-module-html
    .fl-module-content.fl-node-content {
    margin-top: 20px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
    font-size: 14px;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
  }
  footer .fl-icon-text {
    padding-left: 0px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
    padding-right: 15px;
  }
  /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
  .d-block .fl-row-fixed-width .fl-col-group-equal-height {
    display: block;
  }
  .fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: -8px;
  }
  .w-100 {
    width: 100%;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
    float: none;
  }
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reversed .fl-col-group-responsive-reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
  }
  button#responsive-menu-button {
    top: 60px;
  }
  .uabb-photo__gallery-filters li {
    display: block;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 0% !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    right: 32px !important;
  }
  .rc-anchor-normal {
    width: 300px !important;
  }
  footer .storename {
    padding-left: 0 !important;
  }
  /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  #wpsl-gmap {
    float: none;
    width: 100%;
    margin: 0 auto 20px;
  }
  div#wpsl-stores .wpsl-store-location {
    text-align: left;
  }
  div#sfnlocator-wrap {
    padding-right: 0;
  }
  .find-a-retailer-row div#wpsl-gmap,
  .homepage_locationStore #wpsl-gmap,
  #wpsl-base-gmap_0 {
    height: 350px !important;
  }
  .homepage_locationStore #wpsl-gmap,
  #wpsl-base-gmap_0 {
    height: 350px !important;
  }
  #wpsl-gmap {
    float: none;
    width: 100%;
    margin: 0 auto 20px;
  }
  ul.vendor_brand_image_list li {
    width: 50%;
    margin: 5px 0;
  }
  .landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 25%;
  }
  ul.social-icons {
    text-align: center !important;
  }
  .topbarCol1,
  .topbarCol2 {
    width: 100% !important;
  }
  header {
    position: static !important;
    background: #005fab;
  }
  div#breadcrumbs {
    position: static;
    padding: 8px 0;
  }
  div#breadcrumbs .container {
    width: 100%;
  }
  div#breadcrumbs > .container span a,
  div#breadcrumbs > .container span {
    color: #000;
  }
  .CTA-Row .uabb-infobox-text-wrap,
  .CTA-Row .uabb-infobox-title-wrap {
    padding: 0 10px;
  }
  .Header_Banner h1.fl-heading,
  .Header_Banner h1 {
    font-size: 36px !important;
    line-height: 45px !important;
  }
  h2.fl-heading,
  h2 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .uabb-blog-post-inner-wrap .uabb-post-thumbnail.uabb-blog-post-section,
  .uabb-blog-post-inner-wrap .uabb-blog-post-content {
    width: 100%;
  }
  .normal-slider .fl-slide .fl-slide-foreground .fl-slide-text {
    padding-top: 4px;
  }
  .normal-slider .fl-slide .fl-slide-cta-button {
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .post-template-default div#fl-main-content {
    padding: 0;
  }
  header.fl-post-header {
    background: no-repeat;
  }
  div#breadcrumbs > .container span a:hover {
    color: #005fab;
  }
  .storeloc-map .mapcon_main h2.entry-title.sfnstoretitle {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .gform_wrapper .gform_validation_errors > h2 {
    font-size: 13.2px !important;
    line-height: 17.6px !important;
  }
  .storename li .address a::before {
    top: 0;
  }
  .home_content_slider .fl-row-custom-height .fl-row-content-wrap {
    min-height: 500px !important;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */
  .fl-page-content .fl-module-advanced-tabs .fl-row-content-wrap .fl-col {
    max-width: 100%;
  }
  .fl-page-content
    .fl-module-advanced-tabs
    .fl-row-content-wrap
    .fl-col
    .fl-module-info-box
    * {
    text-align: center;
  }
  .fl-page-content
    .fl-module-advanced-tabs
    .fl-row-content-wrap
    .fl-col
    .fl-module-info-box
    ul
    * {
    text-align: left;
  }
  .fl-page-content div.uabb-tabs > nav ul {
    flex-direction: column;
  }
  .storeloc-content * {
    text-align: center;
  }
  .storeloc-content img {
    margin: 0 auto;
    display: block;
  }
  table.wpsl-opening-hours {
    width: 100% !important;
  }
  table.wpsl-opening-hours time,

  .storeloc-content table.wpsl-opening-hours td:last-child {
    text-align: right;
  }
}

@media (max-width: 820px) {
  /* .home #rmp_menu_trigger-1428008{
		top: 230px !important;
	}
	.home header .uabb-photo-content img {
		max-width: 167px !important;
	} */
}
@media (max-width: 768px) {
  button#rmp_menu_trigger-1428008 {
    top: 110px;
  }
}
@media (max-width: 767px) {
  .footer-menu .fl-col-small {
    width: 100% !important;
  }

  .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
    max-width: 10rem !important;
    width: calc(4rem + 20px) !important;
  }
}

@media screen and (max-width: 700px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 50px;
  }
}

@media screen and (max-width: 630px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 70px;
  }
}

@media screen and (max-width: 600px) {
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  div.fl-module-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
    height: 335px;
    margin-bottom: 20px;
  }
  .fl-builder-content div.our-services {
    width: 100% !important;
  }
  .fl-builder-content div.our-services .fl-col-content {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  #wpsl-search-wrap .wpsl-dropdown {
    width: 98% !important;
    padding: 7px 12px;
  }
}

@media screen and (max-width: 480px) {
  ul.vendor_brand_image_list {
    flex-direction: column;
  }
  ul.vendor_brand_image_list li,
  .landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 100%;
  }
  div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
    font-size: 10px;
  }
  .uabb-close-custom-top-right {
    top: 170px;
    right: 20px;
  }

  /*button.rmp_menu_trigger.rmp-menu-trigger-boring {
        top: 80px !important;
    }*/
  .storeloc-map .mapcon_main {
    flex-direction: column;
  }
  .storeloc-map .mapcon_main .mapcon_left_flex {
    margin-bottom: 10px;
  }
  .gform_wrapper.gravity-theme .hour_minute_colon {
    line-height: 5.5 !important;
  }
  .rmp-container.rmp-container.rmp-slide-left.rmp-menu-open {
    min-width: 280px !important;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
  button#rmp_menu_trigger-1428008 {
    top: 113px;
  }
  .fl-page-content .fl-module-advanced-tabs .uabb-content.uabb-tab-acc-content {
    padding: 0 !important;
  }
}

@media screen and (max-width: 410px) {
  button#responsive-menu-button.responsive-menu-accessible {
    width: 35px;
    height: 35px;
  }
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 11px;
  }
  .rmp-container.rmp-container.rmp-slide-left.rmp-menu-open {
    min-width: 280px;
  }
}
@media screen and (max-width: 378px) {
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 10px;
  }
}
@media screen and (max-width: 374px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 10px;
  }
  .fl-page-bar {
    display: none;
  }
}

span.show_timezone {
  display: none !important;
}
.gform_heading p.gform_required_legend {
  display: none !important;
}
p.gform_required_legend {
  display: none !important;
}
